.purchases-scroll{
  max-height: 30rem;
  overflow-y: auto;
}
.inventory-scroll{
  max-height: 15rem;
  overflow-y: auto;
}

.moon-img{
  max-width: 25rem !important;
  max-height: 25rem !important;
  cursor: pointer;
  filter: invert(100%);
  max-width: fit-content;
  max-height: fit-content;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
/* @keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
} */
#backGround{
  background-image: url(https://th.bing.com/th/id/R.ceb9bc1f2f1861090ec9157737fc6862?rik=WXpGcXZAzqlBbQ&pid=ImgRaw&r=0);
  background-size: cover;
  min-height: 100vh;
}