.purchases-scroll{
  max-height: 22rem;
  overflow-y: auto;
}
.inventory-scroll{
  max-height: 15rem;
  overflow-y: auto;
}

.moon-img{
  max-width: 22rem !important;
  max-height: 22rem !important;
  cursor: pointer;
  filter: invert(100%);
  max-width: fit-content;
  max-height: fit-content;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
/* @keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
} */
#backGround{
  background-image: url(https://th.bing.com/th/id/R.29dd0e8d3d2b8a208cbf8eb4ae8d0724?rik=442LQgvAZ7xnEw&riu=http%3a%2f%2fimg12.deviantart.net%2f845e%2fi%2f2016%2f365%2f3%2fd%2fbasic_4k_starfield_resource_by_euderion-datknuy.jpg&ehk=keSP0YEmJPkZaEGvQL4%2f8YO5rmFB97oq%2fo7Fm%2bkL8bI%3d&risl=&pid=ImgRaw&r=0);
  background-size: cover;
  min-height: 100vh;
}